body{
    background-repeat: no-repeat;
    color:#eee;
    text-align: center;
}
main{
    height: 789px;
    padding: 0 5%;
}
.btnsub{
    background-color: #C68B59;
}
header{
    background-color:rgba(64, 34, 24,0.7);
}
footer{
    background-color:rgba(64, 34, 24,0.7);
}
.container{
    display:flex;
    flex-direction: row;
    padding: 0 1%;
    justify-content: space-between;
}
.fromsection{
    background-color:rgba(64, 34, 24,0.7);
    width:30%;
    text-align: left;
}
.bookN ,.bookP{
    display:flex;
    justify-content: space-between;
}
footer{
    height: 5%;
}
form{
    border: none;
}
.resultsction{
    background-color:rgba(64, 34, 24,0.7);
    width:50%;
    text-align: center;
}
table,th,td,tr{
    border: 1px solid white;
}
table{
    width: 100%;
}
fieldset{
    border: none;
}
.btnsub{
    float:right;
    width: 165px;
    border: none;
}